USE [master]
GO
/****** Object:  Database [DACS]    Script Date: 4/4/2024 10:49:04 AM ******/
CREATE DATABASE [DACS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DACS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DACS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DACS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DACS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DACS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DACS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DienThoais]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Blocked] [bit] NOT NULL,
 CONSTRAINT [PK_DienThoais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSQuyenThucThi]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSQuyenThucThi](
	[Id] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DSQuyenThucThi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpLungs]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpLungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[DienThoaiId] [int] NOT NULL,
	[Blocked] [bit] NOT NULL,
 CONSTRAINT [PK_OpLungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuyenThucThiUserGroup]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenThucThiUserGroup](
	[UserGroupID] [int] NOT NULL,
	[QuyenThucThiID] [int] NOT NULL,
 CONSTRAINT [PK_QuyenThucThiUserGroup] PRIMARY KEY CLUSTERED 
(
	[QuyenThucThiID] ASC,
	[UserGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Decription] [nvarchar](max) NULL,
	[Blocked] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersGroups]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersGroups](
	[Id] [int] NOT NULL,
	[NameGroup] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UsersGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserUserGroup]    Script Date: 4/4/2024 10:49:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUserGroup](
	[UserGroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_UserUserGroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_OpLungs_DienThoaiId]    Script Date: 4/4/2024 10:49:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_OpLungs_DienThoaiId] ON [dbo].[OpLungs]
(
	[DienThoaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuyenThucThiUserGroup_UserGroupID]    Script Date: 4/4/2024 10:49:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuyenThucThiUserGroup_UserGroupID] ON [dbo].[QuyenThucThiUserGroup]
(
	[UserGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserUserGroup_UserID]    Script Date: 4/4/2024 10:49:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserUserGroup_UserID] ON [dbo].[UserUserGroup]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpLungs]  WITH CHECK ADD  CONSTRAINT [FK_OpLungs_DienThoais_DienThoaiId] FOREIGN KEY([DienThoaiId])
REFERENCES [dbo].[DienThoais] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OpLungs] CHECK CONSTRAINT [FK_OpLungs_DienThoais_DienThoaiId]
GO
ALTER TABLE [dbo].[QuyenThucThiUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_QuyenThucThiUserGroup_DSQuyenThucThi_QuyenThucThiID] FOREIGN KEY([QuyenThucThiID])
REFERENCES [dbo].[DSQuyenThucThi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuyenThucThiUserGroup] CHECK CONSTRAINT [FK_QuyenThucThiUserGroup_DSQuyenThucThi_QuyenThucThiID]
GO
ALTER TABLE [dbo].[QuyenThucThiUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_QuyenThucThiUserGroup_UsersGroups_UserGroupID] FOREIGN KEY([UserGroupID])
REFERENCES [dbo].[UsersGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuyenThucThiUserGroup] CHECK CONSTRAINT [FK_QuyenThucThiUserGroup_UsersGroups_UserGroupID]
GO
ALTER TABLE [dbo].[UserUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserUserGroup_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUserGroup] CHECK CONSTRAINT [FK_UserUserGroup_Users_UserID]
GO
ALTER TABLE [dbo].[UserUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserUserGroup_UsersGroups_UserGroupID] FOREIGN KEY([UserGroupID])
REFERENCES [dbo].[UsersGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUserGroup] CHECK CONSTRAINT [FK_UserUserGroup_UsersGroups_UserGroupID]
GO
USE [master]
GO
